
    <div class="row">
      <div class="col s12 first-col">
      </div>
      <div class="col s12 m12 l6 offset-l3 zero">
        <div class="card white card-custom zero">
          <div class="center">
            <img class="responsive-img logo" src="/assets/fc_consult_login1.png">
            <p class = "fc-font blue-grey-text">High-level Business Solutions</p>
          </div>
          <div class="card-content fc-grey">
            <div class="app-name">
              <p>
                <span class="card-title">System for Internal Audits</span>
                <h6>Sign In</h6>
              </p> 
              <div>
                <%= form_for :session, url: session_path do |f| %>
                  <div class="input-field">
                    <%= f.label :email %>
                    <%= f.email_field :email, class:"validate" %>
                  </div>
                  <div class="input-field">
                    <%= f.label :password %>
                    <%= f.password_field :password, class:"validate" %>
                  </div>
                  <div>
                    <%= f.submit "Sign In"%>
                  </div>
                <% end %>
              </div>           
            </div> 
          </div>
        </div>
      </div>
    </div>


      