
  
  
<div>  
  <%= month_calendar events: @audits do |date, audits| %>
    
    <%= date %>

    <% audits.each do |audit| %>
      <div>
        <%= audit.activity %>
        <%=link_to audit.activity, audit_path(audit) %>
      </div>

    <% end %>
  <% end %>
</div>

<ul>
  <% @audits.each do |audit| %>
    <li>
      <%= link_to(
        audit.activity,
        audit_path(audit),
        class: "awesome-tooltip",
      ) %>
      <br />
      <%= audit_path(audit) %>
      <br>
      <%= audit_path(audit.id) %>
      <br>
      <small>
        Posted <%= time_ago_in_words(audit.created_at) %> ago
      </small>
    </li>
  <% end %>
</ul>





