<main>
  <div class= "row audit-data">
    <div class="col l9">
      <div class="card-panel white">
        <div class="card-title audit">
          <p class="title-audit">Audit</p>
          <div class="information">
            <p>Audit ID: <%= @audit.id%></p>
            <p>Activity: <%= @audit.activity%></p>
          </div>
          <p class="title-audit">Company</p>
          <div class="information">
            <p>Business Name: <%= @company.business_name%></p>
            <p>CNPJ: <%= @company.cnpj%></p>            
            <p>Audit Adress</p>
            <p>Branch in <%= @site.city%></p>
            <p><%= @site.line_1%></p>
            <p><%= @site.line_2%></p>
            <p>Neighborhood: <%= @site.neighborhood%></p>
            <p>City: <%= @site.city%></p>
            <p>State: <%= @site.state%></p>
            <p>Contact Name: <%= @site.contact_name%></p>
            <p>Contact email: <%= @site.contact_email%></p>   
            <div class="divider"></div>
            <% @sites.each do |site| %>
              <%if site.id != @audit.site.id %>
                <p>Branch in <%= @site.city%></p>
                <p><%= @site.line_1%></p>
                <p><%= @site.line_2%></p>
                <p>Neighborhood: <%= @site.neighborhood%></p>
                <p>City: <%= @site.city%></p>
                <p>State: <%= @site.state%></p>
                <p>Contact Name: <%= @site.contact_name%></p>
                <p>Contact email: <%= @site.contact_email%></p>                   
              <%end%>
            <% end %>

            <div class="row">
              <div class="col l3 test">
                <p class="title-audit">Audit Start Date</p>
                <div class="information">
                  <p><%= @audit.start_time%></p>
                </div>
              </div>
              <div class="col l3 test">
                  <p class="title-audit">Audit End Date</p>
                  <div class="information">
                    <p><%= @audit.end_time%></p>
                  </div>
              </div>
              <div class="col l6 test">
                  <p class="title-audit">Target</p>
                  <div class="information">
                    <p><%= @audit.target%></p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col l6">
                <p class="title-audit">Audit Team</p>
                <div class="information">
                    <ul>
                      <% @teams.each do |team| %>
                        <li><%= team.user.first_name %></li>
                      <%end%>
                    </ul>
                </div>
              </div>
              <div class="col l6">
                  <p class="title-audit">Job Position</p>
                  <div class="information">
                      <ul>
                        <% @teams.each do |team| %>
                          <li><%= team.user.role %></li>
                        <%end%>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l3">
        <div class="card-panel white">
          <div class="audit">
            <% if (@rat_report.empty?)%>
              <%= link_to('New Report', new_audit_rat_report_path(@audit.id), class: "btn") %>
            <%else%>
              <%= link_to('Show Report', rat_report_path(@rat_report[0]), class: "btn")%>
            <%end%>            
          </div>
        </div>
    </div>
  </div>
</main>