<h3>
  <%= @audit.activity%>
</h3>
<h3>
  <%= @audit.scope%>
</h3>
<h3>
  <%= @audit.process_number%>
</h3>
<h5>
  <%= @audit.target%>
</h5>
<h5>
  <%= @audit.criterion%>
</h5>
<h5>
  <%= @audit.requirement%>
</h5>
<h5>
  <%= @audit.audit_doc%>
</h5>
<h5>
  <%= @audit.start_date%>
</h5>
<h5>
  <%= @audit.end_date%>
</h5>

<h5>
  <%= @company.name%><br>
  <%= @company.business_name%><br>
  <%= @company.cnpj%><br>
  <%= @company.current_certification%>
</h5>


<h5>
  <%= @site.line_2%><br>
  <%= @site.line_3%><br>
  <%= @site.line_1%><br>
  <%= @site.neighborhood%><br>
  <%= @site.city%><br>
  <%= @site.state%><br>  
  <%= @site.contact_name%><br>  
  <%= @site.contact_email%>  
</h5>

<ul>
  <% @sites.each do |site| %>

    <%if site.id != @audit.site.id %>
      <li>
          <p>Adress<p>
        <p>
          <%= site.line_1 %>
        </p>
        <p>
          <%= site.neighborhood %>
        </p>
        <p>
          <%= site.city %>
        </p>
        <p>
          <%= site.state %>
        </p>
        <p>
          <%= site.contact_name %>
        </p>
        <p>
          <%= site.contact_email %>      
        </p>
      </li>

    <%end%>
    
  <% end %>
</ul>


<%= link_to('New Report', new_audit_rat_report_path(@audit.id)) %>