<h2><%= @company.name %></h2>

<div>
    <p>Address:<%= @company.address%></p>
    <p>Neighborhood:<%= @company.neighborhood%></p>
    <p>City:<%= @company.city%></p> 
    <p>ZIP:<%= @company.zip_code %></p>
    <p>CNPJ:<%= @company.cnpj %></p>
    <p>Contact Name:<%= @company.contact_name %></p>
    <p>Contact email:<%= @company.contact_email %></p>
    <p>Current Certification:<%= @company.current_certification %></p>
</div>
