
<div class= "row audit-data">
    <div class="col l12">
      <div class="card-panel white">
        <div class="card-title audit">
        
          <%= form_for @rat_report, url: audit_rat_reports_path do |f| %>

            <% if @rat_report.errors.present? %>
              <p>
                <%= @rat_report.errors.full_messages.join(', ') %>
              </p>
            <% end %>
        
            <div>
              <div class="title-audit" >
                <label style="font-size: 20px;" for="rat_report_introduction">Introduction:</label>
              </div>
              <%= f.text_area :introduction, class:"materialize-textarea" %>
            </div>
        
            <div>
              <div class="title-audit" >
                <label style="font-size: 20px;" for="rat_report_comment">Comment: </label>
              </div>
              <%= f.text_area(:comment, class:"materialize-textarea") %>
            </div>
        
            <div>
              <div class="title-audit" >
                <label style="font-size: 20px;" for="rat_report_observation">Observation:</label>
              </div>
              <%= f.text_area(:observation, class:"materialize-textarea") %>
            </div>
        
            <div>
              <div class="title-audit" >
                <label style="font-size: 20px;" for="rat_report_improvement">Improvement:</label>
              </div>
              <%= f.text_area(:improvement, class:"materialize-textarea") %>
            </div>
        
            <div>
              <div class="title-audit" >
                <label style="font-size: 20px;" for="rat_report_conclusion">Conclusion:</label>
              </div>
              <%= f.text_area(:conclusion, class:"materialize-textarea") %>
            </div>
            
            <input class= "btn waves-effect waves-light teal darken-1" type="submit" name="commit" value="Create Rat report" data-disable-with="Create Rat report">
      
          <% end %>
        </div>  
      </div>
    </div>
   </div> 






