<h1>Edit RAT report</h1>

<%= form_for @rat_report do |f| %>

  <% if @rat_report.errors.present? %>
    <p>
      <%= @rat_report.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.label(:introduction) %>
    <%= f.text_area(:introduction) %>
  </div>

  <div>
    <%= f.label(:comment) %>
    <%= f.text_area(:comment) %>
  </div>

  <div>
    <%= f.label(:observation) %>
    <%= f.text_area(:observation) %>
  </div>

  <div>
    <%= f.label(:improvement) %>
    <%= f.text_area(:improvement) %>
  </div>

  <div>
    <%= f.label(:conclusion) %>
    <%= f.text_area(:conclusion) %>
  </div>
  
  <%= f.submit %>

<% end %>