
<h2> RAT report</h2>

<div>
    <p>Introduction:</p>
    <p><%= @rat_report.introduction%></p>

    <p>Comment:</p>
    <p><%= @rat_report.comment%></p>

    <p>Observation:</p>
    <p><%= @rat_report.observation%></p>
    
    <p>Improvement:</p>
    <p><%= @rat_report.improvement%></p>

    <p>Conclusion</p>
    <p><%= @rat_report.conclusion%></p>
</div>

