<main>
<h2> RAT report</h2>

<div>
        <p><%= @rat_report.audit.company.name%></p>
    <p>Introduction:</p>
    <p><%= @rat_report.introduction%></p>

    <p>Comment:</p>
    <p><%= @rat_report.comment%></p>

    <p>Observation:</p>
    <p><%= @rat_report.observation%></p>
    
    <p>Improvement:</p>
    <p><%= @rat_report.improvement%></p>

    <p>Conclusion</p>
    <p><%= @rat_report.conclusion%></p>
</div>

<%= link_to('Edit Report', edit_rat_report_path(@rat_report.id))%>

<%= link_to 'Create PDF document', rat_report_path(@rat_report, :format => :pdf) %>

</main>